

@font-face {
    font-family: 'argesta_displayregular';
    src: url('../fonts/argestadisplay-regular-webfont.eot');
    src: url('../fonts/argestadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/argestadisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/argestadisplay-regular-webfont.woff') format('woff'),
         url('../fonts/argestadisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body {
    font-family: 'argesta_displayregular';
    font-size: 16px;
}

#root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    color: #ef2fa2;
    font-size: 4.5rem;
    font-weight: 700;
}

a {
    color: #ef2fa2;
    text-decoration: none;
    font-style: italic;
}